# Python (Backend)
backend/venv/
backend/.venv/
__pycache__/
*.pyc
.env
**/__pycache__/

# Node.js (Frontend)
node_modules/
frontend/node_modules/
frontend/build/
frontend/dist/
.next/
out/

# Sistem ve Editör Dosyaları
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
*.iml